[Desktop Entry]
Name=T2 Hybrid GPU Control
Comment=Configure hybrid graphics on supported T2 MacBook Pro models
Exec=t2-hybrid-gpu-control
Icon=org.t2hybridgpucontrol.gtk
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=GPU;graphics;Apple;T2;
